<!--
  Generated template for the PurchaseCheck page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Warenkorb prüfen</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
<p><h3>Es betreut Sie: <span class="mitarbeiterName" *ngIf="mitarbeiter">{{mitarbeiter.name}}</span></h3><p>
   <ion-list id="productlist" *ngIf="haveProducts">
    <ion-item-sliding *ngFor="let product of products">
      <button ion-item>
        <span class="anzahl">
          {{product.anzahl}}
        </span>
        <span class="pname">
          {{product.productName}}
        </span>
        <span class="price">
          {{product.price*product.anzahl | number:'1.2'}}€
        </span>
      </button>
    </ion-item-sliding>
  </ion-list>
<ion-footer>

  
      <button ion-button full large (click)="openScanner()"><h1>Warenkorb QR-Code</h1></button>
</ion-footer>
</ion-content>
