<!--
  Generated template for the PurchaseCheck page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Warenkorb prüfen</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
<p><h3>Es betreut Sie: <span class="mitarbeiterName" *ngIf="mitarbeiter">{{mitarbeiter.name}}</span></h3><p>
  <span class="kunde" *ngIf="user">
    <ion-card>
      <ion-card-header>Kundenprofil</ion-card-header> 
        <ion-card-content>
          Name: {{user.fullName}} <br>
          Guthaben: {{user.amount | number:'1.2'}} €<br>
          E-Mail-Adresse: {{user.email}} <br>
          KundenID: {{user.uid}}
        </ion-card-content>
    </ion-card>
  </span>
<ion-card id="productlist" *ngIf="haveProducts">
  <ion-card-header>Warenkorb</ion-card-header>
    <ion-card-content>
      <ion-list>
          <ion-item-sliding *ngFor="let product of products">
            <button ion-item>
              <div class="itemdetails">
                {{product.productName}}
              </div>
              <div class="itemdetails">
                {{product.anzahl}}
              </div>
              <div class="itemdetails">
                {{product.price*product.anzahl | number:'1.2'}}€
              </div>
            </button>  
          </ion-item-sliding>
      </ion-list>
    </ion-card-content>
</ion-card>

<h3 *ngIf="!haveProducts">Bitte Scannen Sie den Warenkorb QR-Code ein</h3>

<div class="LoginButton">
  <button ion-button Large round large *ngIf="!haveProducts" (click)="openScanner()"><h1>QR-Code scannen</h1></button>
</div>
<ion-footer>
      <button ion-button full large *ngIf="haveProducts" (click)="goToHome()"><h1>Warenkorb Überprüfen</h1></button>
</ion-footer>
</ion-content>
