page-purchase-check {

    .text{
        font-size: 1.5em;
    }

    .mitarbeiterName {
        font-size: 1.5em;
        font-weight: bold;        
    }

h1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -2%;
}
}
