page-purchase-check {

 h3{
        text-align: center;
        color: color($colors, secondary);
        margin-top: 30px !important;
        margin-bottom: 30px !important;
    }

h1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -2%;
}

    .mitarbeiterName {
        font-weight: bold;        
    }
}
