page-home {
.itemdetails{
        float:left;
        width:20%;
        text-align: right;
    }

       .itemdetails:first-child{
              text-align: center;
              width: 60%;
    }


      .cameralabel{
        border-bottom: 4px solid #ddd;
        cursor: pointer;
        text-align: center;
    }


}
