<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Kassierkontrollsystem
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

<!--<div *ngIf="toJson">
  <p>{{toJson.user}}</p>
  <p>{{results.text.fullName}}</p>
  <p>{{results.fullName}}</p>
</div>-->
<p>{{fullName}}</p>

 <ion-list >
    <ion-item-sliding *ngFor="let product of products">
      <button ion-item>
        <div class="itemdetails">
          {{product.productName}}
        </div>
        <div class="itemdetails">
          {{product.anzahl}}
        </div>
        <div class="itemdetails">
          {{product.price*product.anzahl | number:'1.2'}}€
        </div>
      </button>
    </ion-item-sliding>
    </ion-list>


  
    <button ion button (click)="scanBarcode()">QR-Code Scannen</button>
</ion-content>
