page-staff-login {


.LoginButton{
        text-align: justify;
        width: 100%;
        height: 80%;
        font-size: 1.5em;
        $button-round-padding: 10000000;
}

h1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -2%;
}


 h3{
        text-align: center;
        color: color($colors, secondary);
        margin-top: 30px !important;
        margin-bottom: 30px !important;
    }
}
